<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Registration</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <!--
    -MouseMove
  -->
  <div class="mini-circle"></div>

    <div class="container">
      <div class="content">
        <img
          src="/images/Cream_Restaurant_Logo-removebg-preview.png"
          alt="pin logo"
          class="img1"
        />
        <p class="header">Make Account to see more</p>

        <form action="/register" method="post">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="detail"
          /><br />
          <input
            type="text"
            name="username"
            placeholder="Usernanme"
            class="detail"
          /><br />
          <input
            type="text"
            name="fullname"
            placeholder="Full Name"
            class="detail"
          /><br />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="detail"
          />
          <input type="submit" class="btn int" value="Resister Account">
        </form>

        <a href="/forgot">Forgot your password?</a>
        <p class="or">OR</p>
        <button class="btn fbk">
          <i
            class="fab fa-facebook fa-lg"
            style="color: white; padding-right: 10px"
          ></i
          ><a href="#">Continue with Facebook</a></button
        ><br />
        <button class="btn ggl">
          <i
            class="fab fa-google"
            style="color: rgb(11, 241, 22); padding-right: 10px"
          ></i
          ><a href="#">Continue with Google</a>
        </button>

        <footer>
          <p>
            By continuing, you agree to D.D.R.
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
          <a href="/login">Already on DDR? Login</a>
        </footer>
      </div>
    </div>

  
  </body>
</html>
