/* Common styles */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 100px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

textarea {
  width: 130%;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  height: 175px;
  border-radius: 8px;
  margin-bottom: 15px;
  resize: vertical;
}

.form-control {
  height: 35px;
  width: 130%;
  font-size: 20px;
  background-color: black;
  color: white;
  border: 1px solid rgb(148, 141, 141);
  border-radius: 8px;
  margin-bottom: 15px;
}

.send-button {
  height: 40px;
  width: 130%;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Right contact page */
.direct-contact-container {
  max-width: 400px;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}


.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

/* Media Queries */

@media screen and (max-width: 850px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .form-horizontal,
  .direct-contact-container {
    margin: 0 auto;
  }

  textarea,
  .form-control {
    width: 100%;
  }

  .send-button {
    width: 100%;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li,
  .social-media-list li:after {
    height: 55px;
    width: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 569px) {
  .contact-wrapper {
    padding: 10px;
  }

  .direct-contact-container,
  .form-horizontal {
    max-width: 280px;
  }

  .form-control,
  textarea {
    width: 100%;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

.alert-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.alert {
  color: white;
  align-items: center;
  margin-top: 5px;
}

.success {
  color: green;
}

.error {
  color: red;
}




/*-----------------------------------*\
    #TOPBAR
\*-----------------------------------*/
.topbar {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 10px 15%; /* Padding */
}

.topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .topbar-item {
  display: inline-block;
  margin-right: 20px;
}

.topbar .icon {
  margin-right: 5px;
}

.topbar .separator {
  width: 1px;
  height: 20px;
  background-color: #fff;
  margin-right: 10px;
}

.topbar .span {
  font-size: 14px;
}

.topbar .pencil-parent {
  position: relative;
}


.topbar .custom-avatar:hover + .pencil-icon {
  display: block;
}

.topbar .logout {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.topbar .logout:hover {
  background-color: #fff;
  color: #333;
}

.custom-avatar img {
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

.topbar-item {
  text-align: center;
}

.span{
  color: white;
}


/* media query for mobile devices */
@media only screen and (max-width: 768px) {
  .topbar {
    padding: 10px 5%;
  }
  
  .separator {
    display: none;
  }

  .topbar .topbar-item {
    margin-right: 10px;
  }

  .topbar .span {
    font-size: 12px;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
  }

  .topbar .logout {
    display: block;
  }
}
