<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
  </head>
  <body>

    <div class="container">
      <div class="content">
        <img
          src="/images/Cream_Restaurant_Logo-removebg-preview.png"
          alt="pin logo"
          class="img1"
        />
        <p class="header">Login Account to see more</p>

        <!-- for using connect flash message -->
        <% if(error.length>0){
          %> <p class="error"><%= error %></p><%
        } %>



        <form action="/login" method="post">
          <input
            type="text"
            name="username"
            placeholder="Usernanme"
            class="detail"
          /><br />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="detail"
          />
          <input type="submit" class="btn int" value="Login My Account">
        </form>

        <a href="/forgotPassword" class="forgot">Forgot your password?</a>

        <footer>
          <p>
            By continuing, you agree to D.D.R's
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
          <a href="/">Not on D.D.R. yet? Sign up</a>
        </footer>
      </div>
    </div>

  
  </body>
</html>
