<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Menu</title>
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/mouseMove.css">

    
</head>
<body>

	<!--
    -MouseMove
  -->
  <div class="mini-circle"></div>



  <div class="topbar">
    <div class="container">

      <div class="topbar-item">
        <div class="icon">
          <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
        </div>

        <a href="/profile" class="btn btn-secondary logout">
			<span class="text text-1">Home</span>

		  </a>
	  </div>

      <div class="separator"></div>

      <div class="topbar-item item-2">
        <div class="icon">
          <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">Daily : 9.30 am - 10.00 pm</span>
      </div>

      <div class="separator"></div>

      <a href="tel:+918521584878" class="topbar-item link">
        <div class="icon">
          <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">+918521584878</span>
      </a>

      <div class="separator"></div>

      <a href="mailto:booking@123.com" class="topbar-item link">
        <div class="icon">
          <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">booking@123.com</span>
      </a>

      <div class="separator"></div>

      <div class="topbar-item item-2 pencil-parent">
        <span class="pencil-icon" id="upload-image">
          <i class="ri-pencil-fill"></i></span>
        <ion-avatar class="custom-avatar">
          <img alt="Silhouette of a person's head" src="/uploads/<%= user.profileimage %>" />
        </ion-avatar>
        

        <span class="span username"><%= user.username %></span>
      </div>

      <div class="separator"></div>

      <a href="/logout" class="btn btn-secondary logout">
        <span class="text text-1">Logout</span>
      </a>

    </div>
  </div>










    <section id="our_menu" class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page_title text-center mb-4">
						<h1>our menu</h1>
						<div class="single_line"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="breakfast-tab" data-toggle="tab" href="#breakfast" role="tab">Breakfast</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="lunch-tab" data-toggle="tab" href="#lunch" role="tab">Lunch</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="dinner-tab" data-toggle="tab" href="#dinner" role="tab">Dinner</a>
					</li>
				</ul>
        	</div>
			<div class="row">
				<div class="tab-content col-lg-12" id="myTabContent">
					<div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
						<div class="row">
							<div class="col-md-6">
								<div class="single_menu">
									<img src="https://i.imgur.com/kbpceNv.jpg" alt="burger">
									<div class="menu_content">
										<h4>Chicken Burger  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/lYKUORL.jpg" alt="black coffee">
									<div class="menu_content">
										<h4>Black coffee <span>$20</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/AXAHrf6.jpg" alt="fried rice">
									<div class="menu_content">
										<h4>Fried Rice  <span>$45</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/YkDi8Nb.jpg" alt="meat">
									<div class="menu_content">
										<h4>meat  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="single_menu">
									<img src="https://i.imgur.com/TAq7lDR.jpg" alt="burger">
									<div class="menu_content">
										<h4>Chicken Burger  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/lYKUORL.jpg" alt="black coffee">
									<div class="menu_content">
										<h4>Black coffee <span>$20</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/AXAHrf6.jpg" alt="fried rice">
									<div class="menu_content">
										<h4>Fried Rice  <span>$45</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/YkDi8Nb.jpg" alt="meat">
									<div class="menu_content">
										<h4>meat  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
						<div class="row">
							<div class="col-md-6">
								<div class="single_menu">
									<img src="https://i.imgur.com/Aowufa1.jpg" alt="pizza">
									<div class="menu_content">
										<h4>12" Pizza  <span>$35</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/DJlmZDJ.jpg" alt="salad">
									<div class="menu_content">
										<h4>Salad <span>$20</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/knnQm7e.jpg" alt="green tea">
									<div class="menu_content">
										<h4>green tea <span>$15</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/YkDi8Nb.jpg" alt="meat">
									<div class="menu_content">
										<h4>meat  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="single_menu">
									<img src="https://i.imgur.com/kbpceNv.jpg" alt="burger">
									<div class="menu_content">
										<h4>Chicken Burger  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/lYKUORL.jpg" alt="black coffee">
									<div class="menu_content">
										<h4>Black coffee <span>$20</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/AXAHrf6.jpg" alt="fried rice">
									<div class="menu_content">
										<h4>Fried Rice  <span>$45</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/YkDi8Nb.jpg" alt="meat">
									<div class="menu_content">
										<h4>meat  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
						<div class="row">
							<div class="col-md-6">
								<div class="single_menu">
									<img src="https://i.imgur.com/kbpceNv.jpg" alt="burger">
									<div class="menu_content">
										<h4>Chicken Burger  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/lYKUORL.jpg" alt="black coffee">
									<div class="menu_content">
										<h4>Black coffee <span>$20</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/AXAHrf6.jpg" alt="fried rice">
									<div class="menu_content">
										<h4>Fried Rice  <span>$45</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/YkDi8Nb.jpg" alt="meat">
									<div class="menu_content">
										<h4>meat  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="single_menu">
									<img src="https://i.imgur.com/kbpceNv.jpg" alt="burger">
									<div class="menu_content">
										<h4>Chicken Burger  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/lYKUORL.jpg" alt="black coffee">
									<div class="menu_content">
										<h4>Black coffee <span>$20</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/AXAHrf6.jpg" alt="fried rice">
									<div class="menu_content">
										<h4>Fried Rice  <span>$45</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
								<div class="single_menu">
									<img src="https://i.imgur.com/YkDi8Nb.jpg" alt="meat">
									<div class="menu_content">
										<h4>meat  <span>$24</span></h4>
										<p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class=" menu_btn btn btn-danger">view more</a>
			</div>
		</div>
	</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/mouseMove.js"></script>
	<script src="/javascripts/menu.js"></script>
</body>
</html>