<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserProfile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/userprofile.css">
</head>
<body>
    <div class="container">
        <div class="avatar">
            <img src="/uploads/<%= user.profileimage %>" alt="User Avatar">
        </div>
        <div class="username">
            <h3><%= user.username %></h3>
        </div>
        <button class="button" data-target="#home">
            <div class="button__icon"><i class="fa-solid fa-house"></i></div>
            <div class="button__text"><a href="/profile">Home</a></div>
        </button>
        <button class="button" data-target="#contact">
            <div class="button__icon"><i class="fa-solid fa-right-from-bracket"></i></div>
            <div class="button__text"><a href="/logout">Logout</a></div>
        </button>
    </div>
    
</body>
</html>